

# This was inserted by `prisma init`:
# Environment variables declared in this file are automatically made available to Prisma.
# See the documentation for more detail: https://pris.ly/d/prisma-schema#accessing-environment-variables-from-the-schema

# Prisma supports the native connection string format for PostgreSQL, MySQL, SQLite, SQL Server, MongoDB and CockroachDB.
# See the documentation for all the connection string options: https://pris.ly/d/connection-strings

# DATABASE_URL="postgresql://johndoe:randompassword@localhost:5432/mydb?schema=public"

# DATABASE_URL="postgresql://postgres:Luna1626@localhost:5432/lamasconeta"
DATABASE_URL="postgres://postgres.atucgedfurzmiwoihkpj:lumano131211@aws-0-us-west-1.pooler.supabase.com:5432/postgres"

DB_USER=postgres
DB_NAME=lamasconeta
DB_PASSWORD=Luna1626

AUTH_SECRET="6gJlNEPjGQegFJ7IABB/EzNPa9y46zKlLEoYDbdPfrk="

USER_EMAIL="mauri.monzon.dev@gmail.com"
USER_PASS="nqmepexgvfepyfgr"

#Se deja todo a mano ya que esto es de prueba, no es el producto final